*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    font-family: 'Hind', sans-serif;
    color: #212529;
    background-color: white;
    line-height: 1.5rem;
}
/* header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
}
header .navbar-brand i {
    font-size: 45px;
    color: #35a22c;
}
header .navbar .navbar-brand{
    font-size: 36px;
}
#navbarNav .nav-item.active::after{
    width: 100%;
}
#navbarNav .nav-item:hover::after{
    width: 100%;
}
#navbarNav .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #35a22c;
    display: block;
    transition: all .5s;
}
/* xu ly header reponsive */
header .navbar-toggler {
    background-color: #35a22c;
}
header .navbar-toggler:hover{
    background-color: #0ea8cf;
}
@media screen and (max-width:991.09px) {
    header .navbar-collapse{
        background-color: #fff;
    }
    header .nav-item{
        margin: 0;
        padding: 0 10px;
    }
    header .nav-item:hover{
        background-color: #35a22c;
    }
    #navbarNav .nav-item .nav-link{
        color: #35a22c !important;
    }
    #navbarNav .nav-item:hover .nav-link{
        color: white !important;
    }
    #navbarNav .nav-item.active::after{
        width: 0%;
    }
}
/* carousel */
.port__carousel{
    position: relative;
}
.overlay {
    background: rgba(39,43,54,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.port__carousel .carousel-item{
    position: relative;
    background-image: url(./image/finland.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.port__carousel .carousel-item:nth-child(2){
    background-image: url(./image/mountains.jpg);
}
.port__carousel .carousel-item:last-child{
    background-image: url(./image/mountains-1.jpg);
}
.port__carousel .carousel-caption {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.port__carousel .carousel-caption img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: auto;
}
.port__carousel .carousel-caption h5 {
    font-size: 56px;
    line-height: 65px;
}
.port__carousel .carousel-caption p {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.carousel-indicators {
    bottom: 10%;
}
.port__carousel .carousel-indicators li.active {
    background-color: #35a22c;
}
.port__carousel .carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}
    /* responsive cho carousel */
    @media screen and (max-height: 415px){
        .port__carousel .carousel-caption img {
                width: 100px;
                height: 100px;
        }
        .port__carousel .carousel-caption h5{
            font-size: 5vw;
            line-height: 5vw;
        }
        .port__carousel .carousel-caption p{
            font-size: 3vw;
        }
        .carousel-caption{
            padding-top: 0px;
        }
    }
    @media screen and (max-width: 320px){
        .port__carousel .carousel-caption img {
                width: 120px;
                height: 120px;
        }
        .port__carousel .carousel-caption h5{
            font-size: 10vw;
            line-height: 10vw;
        }
        .port__carousel .carousel-caption p{
            font-size: 5vw;
        }
        .carousel-caption{
            padding-top: 0px;
        }
    }
/* project */
.pro__heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.pro__heading p {
    color: #585858;
    line-height: 24px;
}
.pro__content .nav-item button:focus{
    outline: none;
}
.nav-pills .nav-link{
    background-color: #fff;
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #35a22c;
    border-color: #35a22c;
}
.card {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
    border: none;
    cursor: pointer;
}
.card:hover h3 {
    color: #35a22c;
}
.card:hover .card-body {
    border-color: #35a22c;
    border-top-color: transparent;
}
.card-body {
    padding: 1.25rem;
}
.card .card-body {
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all .5s;
}
.card .card-body p{
    margin-bottom: 1rem;
}
    /* responsive cho project */
    @media screen and (max-width:575.98px){
        .pro__content .nav .nav-link{
            padding: 0.5rem;
        }
    }
    @media screen and (max-width:415px){
        .pro__content .nav .nav-link{
            margin-bottom: 1rem;
        }
    }
/* feature */
#feature{
    background: url(./image/3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 120px;
    position: relative;
}
#feature .overlay{
    background: rgba(7,10,12,.72);
}
#feature .feature__heading{
    position: relative;
}
#feature .feature__heading h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}
#feature .feature__item {
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all .5s;
}
#feature .feature__item i {
    font-size: 48px;
    color: #35a22c;
}
#feature .feature__item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}
#feature .feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
#feature .feature__item:hover{
    background: #000;
    border-color: #fff;
}
/* award */
.award {
    position: relative;
    color: #585858;
    padding: 70px 0;
}.award__bg{
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.award__left{
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
    max-width: 750px;
}
.award__left h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.award__right {
    padding: 45px 0;
}
    /* responsive */
    @media screen and (max-width:575.98px) {
        .award__bg{
            background-size: cover;
        }
    }
/* footer */
footer {
    background: #222;
}
footer a {
    color: #aaa;
    margin-right: 10px
}
footer a:hover {
    text-decoration: none;
    color: #35a22c;
}
footer p {
    color: #aaa;
    margin: 0;
}
.footer__main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}
.footer__main i:hover {
    border-color: #35a22c;
}
.footer__copy {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}